.card {
    height: 350px;
    border: 1px solid;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
}

.card>img {
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-radius: inherit;
}

.card:hover {
    box-shadow: 0 0 10px;
}