.basliq{
    text-align: center;
}

.cardContainer{
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.usersContainer{
    min-height: 100vh;
}
.darkMode,
.darkMode * {
    background-color: black;
    color: white;
}